.habitCircle{
	flex: 1;
	margin-top: 3%;
}

.homeGreeting{
	width: 40%;
	margin-top: 6%;
	margin-right: 10%px;
}

.bigDiv{
	display: flex;
}

.habitDescription{
	margin-top: 10%;
}

.clear {
	clear: both; 
}

.textFull { 
	font-size: 1.2em;
	display: block; 
	float: left; 
	width: 0; 
	overflow: hidden; 
	opacity: 0;
	width: 80%;
	margin-top: 10%;
	margin-left: 4%;
}
.welcomeSentence{
	width: 80%;
	text-align: center;
}