/* body, html{
	height: 100%;
	background: url('/trees2.jpg') no-repeat center center fixed;
	background-size: cover;
	color:white;
}

body#h2 {
	text-align:center;
}

div#background-div {
	height:100%;
	position:relative;
}

div#square {
	margin-top: 2cm;
	margin-bottom: 6cm;
	background:rgba(0, 0, 0, 0.7);
	border: 2px solid gray;
	width:500px;
	height:750px;
}

div#content{
	margin-top: 5 px;
	width:450px;
	height:700px;
	font-weight:bold;
	color:white;
}

div#content h1 {
	font-weight: bold;
	color: #DBD388;

	text-align: center;
	margin-top: 15px;
}


div#content p {
	text-align: right;
}

div#content h3 {
	text-align: left;
}


div#login_background{
	margin: auto;
	margin-top: 3cm;
	background:rgba(0, 0, 0, 0.7);
	border: 2px solid #DBD388;
	width:500px;
	height:650px;
}

div#login_heading{
	margin:auto;
	margin-top: 1cm;
	margin-left: 5px;
	margin-right: 5px;
	width:485px;
	height:550px;

}

div#login_heading p {
	text-align: center;
	font-size: 300%;
	color: #DBD388;
}

div#login_heading2 {
	 border-top: 1px solid #DBD388;
}

div#login_heading2 h3 {
	text-align: center;
}

/*div#login_heading2 h3:before{
	content: "";
    display: block;
    background-image: url(padlock.png) no-repeat;
   	background-size: 60px 40px;

    margin: 0 6px 0 0;
} */

/*
div#login_form  {
	margin-top: 40px;
	margin-left: 5px;
	margin-right: 5px;
    border-bottom: 1px solid #DBD388;
    text-align: center;
    width : 475px;
    height:  250px;
}

input[type=submit] {
	background-color: #A29B4B;
}

input {
	color:black;
}

*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li.options a:hover {
    background-color: #111;
    color:white;
    text-decoration: none;
}

li.selected a { 
	background-color: green;
	color:white;
	text-decoration: none;
 }

 li.options a {
 	background-color: #333;
	color:white;
	text-decoration: none;
 }



.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #e6e6e6;
  text-align: center;
}
