div#background-div {
	background: url('/trees2.jpg') no-repeat center center fixed;
	background-size:cover;
	height:100%;
	
}

div#square {
	margin-top: 2cm;
	margin-bottom: 2cm;
	background:rgba(0, 0, 0, 0.7);
	border: 2px solid gray;
	width:500px;
	
}

div#content{
	margin-top: 10px;
	margin-bottom: 20px;
	width:450px;
	height:700px;
	font-weight:bold;
	color:white;
}

div#content h1 {

	color: #FFCF79;
	text-align: center;
	margin-top: 15px;
}

#content .sayings {
	text-align:left;
	font-size: 19px;
}

#content .authors {
	text-align:right;
	font-size: 16px;
}

div#signin p {
	text-align: center;
}

div#signin {
	margin-top: 40px;
	margin-bottom: 10px;
	margin-top: 30px;
	width:160px;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.btn-primary {
	background: #b3b3b3;
}

.btn-primary:hover {
	background-color: #408000;
}

.container{
	position: relative;
	right: 180px;
	top: 100px;
}

.h4_login{
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;    
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

.form-control {
    border-radius: 10px;
}

.wrapper_login {
    text-align: center;
}

.error{
    color: red;
}


.modal-open #wrap{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
  
.modal-backdrop {background: #f7f7f7;}

.close {
    font-size: 50px;
    display:block;
}

.h4_login {
    color:#595959;
}

.quotes{
    height: 445px;
}