#calendar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}
	 
.centered {
	text-align: center;
}

.leftSide{
	background-color: #f9f9ff;
	position: fixed;
	width: 30%;
	top: 10%;
	left: 2%;
	height: 80%;
}

.rightSide{
	background-color: #f9f9ff;
	position: fixed;
	width: 65%;
	top: 10%;
	right: 2%;
}

.fc-time-grid .fc-slats td{
	height: 2.5em;
}

.fc-widget-header{
    background-color:#4D9900;
}
