#calendar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-top: 0px;
}
	 
.centered {
	text-align: center;
}

.leftSide{
	background-color: #f9f9ff;
	position: absolute;
	width: 33%;
	top: 100px;
	left: 2%;
	height: 695px;
}

.rightSide{
	background-color: #f9f9ff;
	position: absolute;
	width: 63%;
	top: 100px;
	right: 2%;
}

.fc-time-grid .fc-slats td{
	height: 2.5em;
}

#external-events {
    float: left;
    width: 100%;
    height: 576px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #f9f9ff;
    text-align: center;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}
    
#external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
}
    
#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}
    
#external-events p input {
    margin: 0;
    vertical-align: middle;
}

.weeklyPriorities{
	position: relative;
	width: 40%;
	height: 100%;
	float: right;
	border: 1px solid #ccc;
	text-align: center;
}

.rolesGoals{
	width: 60%;
	height: 100%;
	border: 1px solid #ccc;
}

#weeklyDescriptionTitle{
	text-align: center;
	vertical-align: middle;
	position: relative;
	top: 15px;
}

.weeklyDescription{
	height: 63px;
	border-bottom: 1px solid #ccc;
}

#priorityTitle{
	height: 35px;
	border-bottom: 3px solid #ccc;
}

#priorityTitle h4{
	text-align: center;
}

.rolesDiv{
	width: 40%;
	position: relative;
	float: left;
}

.goalsDiv{
	width:60%;
	position: relative;
	float: right;
}

.weeklyHeaders{
	text-align: center;
	border-bottom: 1px solid #ccc;
    padding-bottom: 9px;
}


#goalInput:focus, #roleInput:focus, #eventTitle:focus, #eventDescription:focus, #eventTime:focus, #eventColor:focus{
	outline: none;
}

#roleInput , #eventTitle, #goalInput, #eventDescription, #eventTime, #eventColor{
	width:88%;
	border: none; 
	border-bottom: 1px solid #ccc; 
	background-color: #f9f9ff;
	text-align: center;	
	margin-left: 13px;	
	text-overflow: ellipsis;	
}

#eventDescription,#eventTitle{
	text-align: left;
	height: auto;
}

.deleteDiv{
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
    vertical-align: middle;
}

.deleteDiv:hover{
	background-color: pink;
}